.GpaBlock {
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    padding: 1%;
    background-color: rgb(103, 243, 145);
}

.GpaLabel {
    text-decoration: underline;
}