html {
    -webkit-text-size-adjust: none;
    background-image: url(../../assets/bg_watch.png);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

body {
    text-align: center;
    margin: auto;
    font-size: 30px;
    min-width: 900px;
    max-width: 1300px;
    margin: 0 auto;
    overflow-y: scroll;
}

button {
    font-size: 22px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color:rgb(204, 204, 204);
}

@media (max-width: 600px) {
    button, body {
        font-size: 18px;
    }
}