html {
    -webkit-text-size-adjust: none;
    background-image: url(../../assets/bg_watch.png);

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    text-align: center;
    margin: auto;
    font-size: 30px;
}