.module-group {
  margin: 3px;
  padding: 0 7px 8px 7px;
  font-size: 16px;
  border: 2px dashed black;
  border-radius: 12px;
  background-color: rgb(147, 255, 255);
  display: flex;
  flex-direction: column;
}