#summaryModal {
    z-index: 1;
    background-color: rgba(31, 19, 66, 0.9);
    border: aqua 1px solid;
    color: antiquewhite;
    
    position: absolute;
    width: 90%;
    top: 16%;
    left: 5%;
}

.close-button {
    color: white;
    font-size: 30px;
    background: transparent;
    border: none;
    position: absolute;
    top: 6px;
    right: 2px;
}

.close-button:hover {
    background: rgb(131, 119, 166);
}

.title {
    margin: 5px 0;
}

.report-header {
    font-size: 30px;
    margin: 10px 0;
}

.report-row {
    font-size: 30px;
    margin: 20px 0;
}