#summaryModal {
    z-index: 1;
    background-color: rgba(31, 19, 66, 0.94);
    border: aqua 1px solid;
    color: antiquewhite;
    position: absolute;
    width: 70%;
    min-width: 600px;
    max-width: 1000px;
    max-height: 700px;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 0;
}

.close-button {
    color: white;
    font-size: 30px;
    background: transparent;
    border: none;
    position: absolute;
    top: 6px;
    right: 2px;
}

.close-button:hover {
    background: rgb(131, 119, 166);
}

.title {
    margin: 5px 0;
}

.report-header {
    font-size: 30px;
    margin: 10px 0;
}

.report-row {
    font-size: 30px;
    margin: 20px 0;
}

#cumulativeTable,
#gradeTable {
    margin: 1em auto;
    border-collapse: collapse;
}

.cumulativeHeader {
    border: 2px solid antiquewhite;
    text-decoration: none;
    padding: 10px 12px;
}

.cumulativeCell {
    border: 2px solid antiquewhite;
    padding: 8px 0;
}