# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build and Deploy App

on:
  push:
    branches: [ "react" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: gh-pages

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build App
      env:
        REACT_APP_FIREBASE_CONFIG: ${{ secrets.REACT_APP_FIREBASE_CONFIG }}
        REACT_APP_CAPTCHA_SITE_KEY: ${{ secrets.REACT_APP_CAPTCHA_SITE_KEY }}
        REACT_APP_FIREBASE_APPCHECK_DEBUG_TOKEN: ${{ secrets.REACT_APP_FIREBASE_APPCHECK_DEBUG_TOKEN }}
      run: npm run build
    
    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v3
      with:
        name: 'github-pages'
        path: build
    
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        artifact_name: 'github-pages'
